
body {
  font-family: Helvetica;
  background-color: #ccc;
}
body, a, a:visited, a:active, a:hover {
  color: #111;
}

h1{
  font-weight: bold;
  font-size: 16px;
}

#wrapper {
  background-color: #aaa;
  text-align: center;
  width: 300px;
  margin: 10px auto;
  padding: 10px;
}